### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
npm-debug.log*
wdio-appium.log*
package-lock.json

# Dependency directories
node_modules
reports

# Optional npm cache directory
.npm

# Webstrom directories
.idea
