### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
npm-debug.log*
wdio-appium.log*

# Dependency directories
node_modules/
reports/

# Optional npm cache directory
.npm

# Webstrom directories
.idea
